@charset "utf-8";
@import "compass/reset";
@import "compass/support";
@import "lib/mixins";
@import "lib/variables";
@import "compass/css3";
@import "compass/utilities";
@import 'susy';
$susy: ( global-box-sizing: border-box, use-custom: (rem: true), columns: 12, // The number of columns in your grid
gutters: 0, // The size of a gutter in relation to a single column
);
@include border-box-sizing;
a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    @include box-sizing(border-box);
}

html,
body {
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include font-size(16px);
    line-height: 1.5;
    background: #f1f2f3;
}

* {
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.container {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    height: 200px;
    border:1px solid #0000ff;
    & :nth-of-type(2){
        background:yellow;
        flex-grow: 1;
        height: 80px;
        width:80px;
    }
    & :nth-of-type(1){
        background:red;
        padding-top: 10px;
        flex-grow: 2;
        flex-shrink:0.5;
        height: 100px;
        width: 100px;
        //align-self:flex-start;
    }
}
.test{
    span{
        background:red;
        height: 30px;
        width: 30px;
        color:#fff;
        padding-top:20px;
        margin-top: 50px;
    }
}
@import "lib/font-awesome/font-awesome";
